page-home {
    .header{
        background-color: rgba(0,0,0,0);
    }
    .content-bg{
        background-color: #001B4B;
        background-image: linear-gradient(to right, #001B4B , #02457A);
    }

    .item-drug{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 20px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.3);
        .icon{
            width: 30px;
            height: 30px;
        }
        .label{
            flex: 1;
            padding-left: 10px;
            color: #ffffff;
            font-size: 16px;
        }
    }
    .more-box{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 40%;
        overflow: hidden;
        .more-box-circle{
            height: 200%;
            width: 200%;
            background-image: linear-gradient(to right, #FFFFFF , #D6E8EE);
            border-radius: 50%;
            position: absolute;
            top: 20px;
            box-shadow: 0px 0px 30px #000000;
        }
        .more-box-content{
            width: 100%;
            height: 100%;
            top: 60px;
            position: absolute;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            .item-me{
                flex: 1;
                .icon{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    border: 3px solid #243033;
                    margin: auto;
                    padding: 10px;
                }
                .label{
                    text-align: center;
                    margin-top: 5px;
                    color:#243033;
                }
            }
        }
    }
    .header-me{
        padding: 20px;
        
    }
    .ani-circle{
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: auto;
        border-radius: 50%;
        
        .shadow-box{
            box-shadow: 5px 5px 30px #000000;
            width: 85%;
            height: 85%;
            border-radius: 50%;
            position: absolute;
        }
        .text{
            width: 85%;
            height: 85%;
            background-image: linear-gradient(to right, #001B4B , #02457A);
            border-radius: 50%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #ffffff;
            .text1{
                font-size: 30px;
            }
            .text2{
                font-size: 16px;
            }
        }
        .circle{
            width: 90%;
            height: 90%;
            border-radius: 50%;
            position: absolute;
            
            &.c1{
                top: 5%;
                left: 0;
                animation: spin 2000ms infinite ease;
                transform-origin: 55% 50%;
                background-color: rgba(255,255,0,0.5);
            }
            &.c2{
                top: 0;
                left: 5%;
                animation: spin 2000ms infinite linear;
                transform-origin: 50% 55%;
                background-color: rgba(255,0,255,0.5);
            }
            &.c3{
                top: 5%;
                right: 0;
                animation: spin 2000ms infinite ease;
                transform-origin: 45% 50%;
                background-color: rgba(255,255,255,0.5);
            }
            &.c4{
                bottom: 5%;
                left: 0;
                animation: spin 2000ms infinite linear;
                transform-origin: 55% 50%;
                background-color: rgba(0,255,255,0.5);
            }
            &.c5{
                bottom: 5%;
                right: 0;
                animation: spin 2000ms infinite ease;
                transform-origin: 45% 50%;
                background-color: rgba(255,255,255,0.5);
            }
        }
    }

    @keyframes spin{
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }
}
