<ion-content class="content-bg" fullscreen>
  <div class="header-me">
    <div class="ani-circle">
      <div class="shadow-box"></div>
      <div class="circle c1"></div>
      <div class="circle c2"></div>
      <div class="circle c3"></div>
      <div class="circle c4"></div>
      <div class="circle c5"></div>
      <div class="text">
        <div class="text1">10</div>
        <div class="text2">นาที</div>
      </div>
    </div>
  </div>
  <div>
    <div class="item-drug">
      <div class="icon">
        <img src="assets/imgs/drug1.png" alt="">
      </div>
      <div class="label">ยาพาลา</div>
    </div>
    <div class="item-drug">
      <div class="icon">
        <img src="assets/imgs/drug2.png" alt="">
      </div>
      <div class="label">ยาแก้ไอ</div>
    </div>
  </div>
  <div class="more-box">
    <div class="more-box-circle"></div>
    <div class="more-box-content">
      <div class="item-me" (click)="addDrug()">
        <div class="icon">
          <img src="assets/imgs/drugs.svg" alt="">
        </div>
        <div class="label">เพิ่มยา</div>
      </div>
      <div class="item-me" (click)="searchDrug()">
        <div class="icon">
          <img src="assets/imgs/magnifier.svg" alt="">
        </div>
        <div class="label">ค้นหาร้าน</div>
      </div>
      <div class="item-me" (click)="weighMe()">
        <div class="icon">
          <img src="assets/imgs/dumbbell.svg" alt="">
        </div>
        <div class="label">วิเคราะน้ำหนัก</div>
      </div>
    </div>
  </div>

</ion-content>