<ion-content>
    <div class="header-me">
      ร้านยาใกล้ตัว
    </div>

    <div class="header-close" (click)="close()">
      <img src="assets/imgs/cancel-music.png" alt="">
    </div>

    <div #map id="map"></div>

  </ion-content>
  