page-weigh {

    .model{
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        .center{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: #fa897b;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-size: 40px;
            position: relative;
        }
        .close-x{
            position: absolute;
            bottom: 0;
            padding: 10px;
            color: #ffffff;
            font-size: 20px;
        }
    }

    .header-me{
        margin-top: 20px;
        background-image: linear-gradient(to right, #001B4B , #02457A);
        width: 60%;
        padding: 10px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        position: absolute;
        z-index: 500;
    }

    .header-close{
        top: 20px;
        right: 20px;
        background-image: linear-gradient(to right, #001B4B , #02457A);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 10px;
        position: absolute;
        z-index: 500;
    }
    .close{
        width: 40px;
        height: 40px;
        margin: 20px;
        background-image: linear-gradient(to top right, #001B4B , #02457A);
        border-radius: 50%;
        padding: 10px;
    }
    .head{
        background-color: #fa897b;
        background-image: linear-gradient(to top right, #001B4B , #02457A);
    }
    .item-input{
        margin: 20px;
        .icon{
            width: 100px;
            height: 100px;
            margin: auto;
            position: relative;
            .buble{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: #fa897b;
                z-index: 50;
                position: absolute;
                bottom: -10px;
                right: -10px;
                animation: spin 2000ms infinite linear;
                transform-origin: 45% 50%;
                &.b1{
                    animation: spin 1000ms infinite linear;
                }
                &.b2{
                    animation: spin 3000ms infinite linear;
                }
            }
            .image{
                position: absolute;
                z-index: 100;
                width: 100px;
                height: 100px;
            }
        }
        .input{
            padding: 5px;
            background-color: #ffffff;
            margin: 20px;
            border-radius: 50px;
            text-align: center;
            input{
                text-align: center;
                border: none;
                outline: none;
                font-size: 20px;
            }
        }
    }
    .content{
        background-color: #DAE6E6;
        // background-image: linear-gradient(to top right, #001B4B , #02457A);
    }

    .input-cal{
        padding: 5px;
        // background-color: #ffffff;
        margin: 20px 40px;
        border-radius: 50px;
        text-align: center;
        font-size: 20px;
        color: #ffffff;
        background-image: linear-gradient(to top right, #001B4B , #02457A);
    }

    @keyframes spin{
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }
}
