<ion-content class="content">
  <div class="header-me">
      BMI
  </div>

  <div class="header-close" (click)="close()">
    <img src="assets/imgs/cancel-music.png" alt="">
  </div>
  <div class="close" (click)="close()">
    <img src="assets/imgs/cancel-music.png" alt="">
  </div>
  <div class="item-input">
    <div class="icon">
      <div class="image">
        <img src="assets/imgs/weight-scale.png" alt="">
      </div>
      <div class="buble"></div>
      <div class="buble b1"></div>
      <div class="buble b2"></div>
    </div>
    <div class="input">
      <input type="number" placeholder="น้ำหนัก (กก.)" [(ngModel)]="w">
    </div>
  </div>
  <div class="item-input">
    <div class="icon">
      <div class="image">
        <img src="assets/imgs/height.png" alt="">
      </div>
      <div class="buble"></div>
      <div class="buble b1"></div>
      <div class="buble b2"></div>
    </div>
    <div class="input">
      <input type="number" placeholder="ส่วนสูง (ซม.)" [(ngModel)]="h">
    </div>
  </div>
  <div class="input-cal" (click)="cal()">
    คำนวน
  </div>
  <div class="model" *ngIf="isShowModel">
    
    <div class="center">
      <div>{{result}}</div>
      <div class="close-x" (click)="closex()">
          ปิด
      </div>
    </div>
  </div>
</ion-content>