page-add-drug {
    .content{
        background-color: #DAE6E6;
    }
    .header-me{
        margin-top: 20px;
        background-image: linear-gradient(to right, #001B4B , #02457A);
        width: 60%;
        padding: 10px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .card{
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        .input{
            padding: 5px 10px;
            margin: 10px;
            border-radius: 30px;
            border: 2px solid #243033;
            input{
                outline: none;
                border: none;
                font-size: 16px;
            }
            .time{
                font-size: 16px;
                padding: 3px;
            }
        }
        .title{
            padding: 5px 10px;
            border-radius: 30px;
            background-image: linear-gradient(to right, #001B4B , #ffffff);
            font-size: 16px;
            color: #ffffff;
            margin: 10px;
        }
        .list-icon{
            text-align: center;
            img{
                border: 5px solid #ffffff;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin: 10px;
                &.active{
                    border: 5px solid #243033;
                }
            }
        }

        .btn-l{
            display: flex;
            flex-direction: row;
            .btn{
                flex: 1;
                padding: 5px 10px;
                border-radius: 30px;
                background-color: #ffffff;
                font-size: 16px;
                color: #243033;
                margin: 10px;
                border: 1px solid #243033;
                text-align: center;
                &.b{
                    color: #ffffff;
                    background-image: linear-gradient(to right, #001B4B , #02457A);
                }
            }
        }

    }
}
