<ion-content>
  <div class="header-me">
    เพิ่มยา
  </div>
  <div class="card">
    <div class="title">ตั้งชื่อยา</div>
    <div class="input">
      <input type="text" placeholder="ชื่อยา">
    </div>
    <div class="title">เลือกเวลาแจ้งเตือน</div>
    <div class="input">
        <input type="text" placeholder="เลือกเวลา">
      <!-- <ion-datetime class="time" displayFormat="h:mm a" placeholder="เลือกเวลา"></ion-datetime> -->
    </div>
    <div class="title">เลือกไอคอน</div>
    <div class="list-icon">
      <img src="assets/imgs/drug1.png" [class]="slectIcon==1?'active':''" (click)="selectMyIcon(1)" alt="">
      <img src="assets/imgs/drug2.png" [class]="slectIcon==2?'active':''" (click)="selectMyIcon(2)" alt="">
      <img src="assets/imgs/drug3.png" [class]="slectIcon==3?'active':''" (click)="selectMyIcon(3)" alt="">
      <img src="assets/imgs/drug4.png" [class]="slectIcon==4?'active':''" (click)="selectMyIcon(4)" alt="">
      <img src="assets/imgs/drug5.png" [class]="slectIcon==5?'active':''" (click)="selectMyIcon(5)" alt="">
      <img src="assets/imgs/drug6.png" [class]="slectIcon==6?'active':''" (click)="selectMyIcon(6)" alt="">
      <img src="assets/imgs/drug7.png" [class]="slectIcon==7?'active':''" (click)="selectMyIcon(7)" alt="">
      <img src="assets/imgs/drug8.png" [class]="slectIcon==8?'active':''" (click)="selectMyIcon(8)" alt="">
    </div>
    <div class="btn-l">
      <div class="btn b" (click)="add()">เพิ่มยา</div>
      <div class="btn" (click)="cancel()">ยกเลิก</div>
    </div>
  </div>
</ion-content>